body {
    text-align: center;
}

.map-detail-heart-container {
    display: flex;
    justify-content: right;
}

.map-detail-poster {
    display: flex;
    justify-content: center;

    margin-top: 10px;
}

.map-detail-event-title {
    font-size: 24px;
    font-weight: 600;
    margin: 20px;
    text-align: center;
}

.map-detail-info-container {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    text-align: left;

    width: 70%;
    font-size: 18px;
    font-weight: 500;

}


.map-detail-info-content-of-content {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
}